@import "tailwindcss";
@import "primeicons/primeicons.css";


* {
  direction: rtl;
}

:root {
  --background: var(--color-gray-100);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  line-height: 1.5;
}

a {
  cursor: pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: inherit;
}
